body{
	background-color: #87CEFA;
	display: inline;
}

h1{
	font-family: Verdana;
	color: #191970;
}

h2{
    font-family: Verdana;
	color: #191970;
	text-align: center;
}
li {
	font-family: Verdana;
	list-style-type: none;
}

#email,
#phone,
#firstname,
#lastname {
  margin-bottom: 20px;
  margin-right: 10px;
}


input {
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightblue;
}

input [type=button], input[type=submit], input[type=reset]{
	background-color: lightgray;
	border-radius: 8px;
	cursor: pointer;
}

input[type=tel]:focus {
  background-color: lightblue;
}

#navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  display: inline-block;
  width: 100%;
  
}
#navbar-container ul li {
  float: left;
  position: relative;
  width: 33.33%;
  
}

#navbar-container ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  font-size: 2em;
}
#navbar-container ul li a:hover {
  background-color: #000;
}

#navbar-container ul li a.active {
  background-color: #000;
  color: white;
}

#form{
margin-left: 200px;
	
}

#info {
  text-align: center;
}

#intro {
  color: white;
  margin-left: 5em;
  margin-right: 5em;
  font-size: 2em;
}



@media only screen and (min-width: 992px) {
  #navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  display: inline-block;
  width: 100%;
  }
  
  #navbar-container ul li {
    float: left;
    position: relative;
    width: 10%;
  }

  #navbar-container ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
  }
  
  #navbar-container ul li a:hover {
    background-color: #000;
  }

  #navbar-container ul li a.active {
    background-color: #000;
    color: white;
  }
  
  #intro {
    color: white;
    margin-left: 30em;
    margin-right: 30em;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  #thoughts_h2 {
    font-size: 1.7em;
  }
}